#Contact\ Screen form {
  width: 100vw; /* Full width of the viewport */
  padding: 0 20px; /* Optional padding */
  box-sizing: border-box;
}

#Contact\ Screen .form-group {
  margin-bottom: 15px;
}

#Contact\ Screen input,
#Contact\ Screen textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1em;
}



