body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

h1 {
    font-size: 2rem;
    margin-top: 20px; /* Add some space from the top */
    text-align: center;
}